@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

.App {
  gap: 20px;
  display: block;
  width: 100vw;
  height: 120vh;
  font-family: "JetBrains Mono", monospace;
  background-image: linear-gradient(
    to right top,
    #000000,
    #363434,
    #6a6866,
    #a0a19d,
    #d9deda
  );
}
.header {
  display: flex;
  position: absolute;
  justify-content: space-around;
  padding: 10px;
  top: 0px;
  left: 0px;
  gap: 15px;
  width: 100vw;
  height: 50px;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #e1e1e1,
    #c3c4c5,
    #a5a7a8,
    #898c8c
  );
}
.titulo{
  padding-top: 60px;
  color: chartreuse;
}


.input {
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-align: center;
  width: 220px;
  height: 30px;
  font-size: 12pt;
  outline: none;
  font-weight: 500;
  border-radius: 5px;
  margin: 5px;
border-color:  white;
  background-color: transparent;
}
.input::placeholder {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vw;
  padding-top: 40px;
}
a {
  padding: 5px;
  padding-top: 15px;
  border-radius: 10px;
}

.main {
  display: flex;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.main_img{

  display: flex;
  width: 350px;
  height: 300px;
  padding-top: 40px;
  border-color: white;
  border-radius: 15px;
}


.footer {
  display: flex;
  width: 100vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
}
.form_footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.footer_section {
  display: flex;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.main_form_section {
  display: flex;
  width: 400;
  height: 400;
  justify-content: center;
  align-items: center;
}
.img {
  display: flex;
  width: 30px;
  height: 30px;
}
